{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% block content %}

    <form action="{% url 'add_task' %}" method="post">
        {% csrf_token %}
        {% include 'partial/entry_form.html' with button_text='Сохранить' %}
    </form>

{% endblock content %}