{% extends 'base.html' %}

{% block content %}

    <form action="" method='post'>
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"> Вы уверены что хотите удалить этого гостя?</h5>
                    <input class="btn btn-danger" type="submit" value="Удалить">

                    <a class='btn btn-success' href="{% url 'index' %}">Отмена</a>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}